
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* PRIMARY */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%); 
  --strawberry-red: hsl(354, 84%, 57%);
  /* NEUTRAL */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  /* FONT */
  --main-font: 'Ubuntu', sans-serif;
}

*{box-sizing: border-box;}


body{
  margin: 0;
  min-height: 100vh;
  font-family: var(--main-font);
  color: var(--cool-gray);
}

h2{
  font-size: 1.5rem;
}

/* LAYOUT */

#App{
  min-width: 375px;
  max-width: 600px;
  min-height: 667px;
  width: 100%;
  padding: 1rem 4.3% 95px 4.3%;
  display: flex;
  flex-flow: column;
  background: url(/src/assets/images/bg-sidebar-mobile.svg) left top / contain no-repeat, hsl(228, 100%, 96%);
  position: relative;
  margin: 0 auto;
  box-shadow: 0 10px 10px hsl(0, 0%, 85%);
}

header,
.stepCirlce{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  gap: 16px;
  padding-top: 16px;
}



#planForm label.selected, 
#addons-form label.selected,
#pi-form label.selected{
  border: 1px solid var(--purplish-blue);
  background-color: hsl(243, 100%, 98%);
}

.stepCirlce{
  width: 36px;
  height: 36px;
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
  font-weight: 500;
  border-radius: 50%;
}

.stepCirlce.active{
  background-color: var(--light-blue);
  color: var(--marine-blue);
}

.stepNum,
.stepName{
  display: none;
}

.app-section{
  margin-top: 32px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.app-section h2{
  color: var(--marine-blue);
  margin-top: 0;
  margin-bottom: 17px;
}

.section-content {
  background-color: var(--alabaster);
  border-radius: 12px;
  padding: 35px 24px 30px;
}

.section-description{
  line-height: 1.5;
  margin-top: 0;
}

input{
  outline: none;
  color: var(--marine-blue);
}





span.invalid{
  color: var(--strawberry-red);
}

#pi-form input,
#pi-form label{
  display: block;
  width: 100%;
}


#pi-form label{
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  margin-bottom: 4px;
  color: var(--marine-blue);
}

#pi-form input{
  height: 40px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 12px 10px 12px 15px;
  font-size: .95rem;
  font-weight: 700;
}

#pi-form input:focus{
  border: 1px solid var(--purplish-blue);
}

#pi-form input::placeholder{
  color: var(--light-gray);
}

#pi-form input:not(:last-of-type){
  margin-bottom: 16px;
}

#pi-form input.invalid {
  border: 1px solid var(--strawberry-red);
}

.app-footer{
  background-color: white;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 4.3%;
}

.app-footer .main-btn{
  padding: 13px 18px;
  color: var(--alabaster);
  text-decoration: none;
  border-radius: 5px;
  
}

.main-btn, .back-link{
  font-weight: 500;
  font-size: .95rem;
}

.next-btn{
  background-color: var(--marine-blue);
  margin-left: auto;
}

.main-btn:hover {
  filter: brightness(120%);
}

.back-link {
  color: inherit;
  text-decoration: none;
}

.back-link:hover{
  color: var(--marine-blue);
}

/* PLAN LAYOUT */

#planForm,
.input-outer,
.input-info,
#addons-form
{
  display: flex;
}

#planForm, #addons-form{
  flex-flow: column;
  gap: 15px;
}

#planForm label:hover,
#addons-form label:hover{
  border: 1px solid var(--purplish-blue);
  cursor: pointer;
}

.input-outer{
  border: 1px solid var(--light-gray);
  align-items: center;
  flex-grow: 1;
  padding: 16px;
  gap: 16px;
  border-radius: 6px;
}

#planForm input{
  opacity: 0;
  width: 0;
  position: absolute;
}

.input-info{
  flex-flow: column;
  gap: 5px;
  flex-grow: 1;
}

.radio-title,
.radio-price{
  margin: 0;
}

#planForm .radio-title{
  color: var(--marine-blue);
  font-size: 1rem;
}

.radio-price{
  font-size: .9rem;
}

.discount{
  font-size: .8rem;
  color: var(--marine-blue);
}

.period-outer{
  margin-top: 22px;
  justify-content: center;
  background-color: hsl(228, 100%, 97%);
  border-radius: 8px;
  font-weight: 500;
  font-size: .95rem;
  gap: 24px;
}

.period-toggle,
.period-outer{
  display: flex;
  align-items: center;
}


.period-text.active {
  color: var(--marine-blue);
}

.period-toggle{
  width: 40px;
  background-color: var(--marine-blue);
  height: 20px;
  border-radius: 10px;
  padding: 3px 4px 3px;
  cursor: pointer;
}
.period-circle{
  height: 85%;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}

/* ADD ONS */

#addons-form input[type="checkbox"]{
  accent-color: var(--purplish-blue);
  width: 20px;
  height: 20px;
  margin: 0;
}

#addons-form .check-title{
  font-size: .9rem;
  margin: 0;
  color: var(--marine-blue);
}
.checkbox-desc, .check-price{
  font-size: .8rem;
}

.check-price{
  color: var(--purplish-blue);
}

/* SUMMARY */

.summary, 
.summary-plan-outer, 
.addons-summary,
.addons-article,
.summary-total-outer,
.order-art-info{
  display: flex;
}


.summary-plan-outer{
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-gray);
}

.summary, 
.order-art-info,
.addons-summary{
  flex-flow: column;
}

.summary-plan-outer,
.addons-article,
.summary-total-outer{
  justify-content: space-between;
}

.order-art-info{
  gap: 3px;
}

.summary{
  font-size: .95rem;
}

.order-change-period{
  cursor: pointer;
  text-decoration: underline;
}

.order-plan-name,
.summary-plan-price,
.addons-art-price{
  color: var(--marine-blue);

}

.summary-plan-price,
.summary-total{
  font-weight: 500;
}
.summary-total{color: var(--purplish-blue);}

.summary{
  background-color: hsl(228, 100%, 97%);
  border-radius: 5px;
  padding: 19px 16px 17px;
}
.addons-article{
  margin-top: 14px;
}

.summary-total-outer{
  padding: 0 16px;
  margin-top: 28px;
}

.confirm-btn{
  background-color: var(--purplish-blue);
}

/* ENDTEXT */
.end-section{
  text-align: center;
  line-height: 1.5;
  
}

.end-section .section-content{
  padding-top: 75px;
  padding-bottom: 65px;
}

.end-section img{
  width: 58px;
}

.end-section h1{
  color: var(--marine-blue);
  margin: 17px;
}

@media screen and (min-width: 750px) {

  body{
    display: flex;
    background-color: #eef5ff;
    justify-content: center;
    align-items: center;
  }

  #App{
    min-height: auto;
    max-height: 600px;
    min-width: 750px;
    max-width: 940px;
    display: grid;
    grid-template-columns: minmax(150px, 275px) minmax(0px, 1fr);
    background: var(--alabaster);
    padding: 16px 10% 16px 16px;
    gap: 10%;
    height: 600px;
    border-radius: 15px;
  }
  header{
    grid-column: 1/2;
    flex-flow: column;
    justify-content: start;
    gap: 35px;
    padding: 37px 30px;
    background: url(/src/assets/images/bg-sidebar-desktop.svg) center/cover;
    border-radius: 10px;
  }

  .app-section{
    grid-column: 2/3;
  }

  .step-container{
    display: grid;
    grid-template-columns: minmax(0, auto) 1fr;
    column-gap: 1rem;
    width: 100%;

  }

  .stepCirlce{
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .stepNum,
  .stepName{
    display: block;
    grid-column: 2/3;
    text-transform: uppercase;
  }

  .stepNum{
    font-size: .9rem;
  }
  .stepName{
    color: var(--magnolia);
    font-weight: 600;
  }

  .app-footer{
    position: static;
    background-color: inherit;
    padding: 0;
  }

  .app-section{
    margin: 0;
    padding: 47px 0 0;
  }
  .section-content{
    padding: 0;
  }

  .section-description{
    font-size: 1.1rem;
  }

  .section-title{
    font-size: 2rem;
  }
  .section-header{
    margin-bottom: 40px;
  }
  
  #pi-form label{
    font-size: 1rem;
    margin-bottom: 10px;
  }

  #pi-form input{
    height: 50px;
    font-size: 1rem;
  }

  #planForm{
    flex-flow: row;
    margin-bottom: 32px;
  }

  #planForm .input-outer{
    flex-flow: column;
    align-items: flex-start;
    width: 30%;
    height: 160px;
  }

  .input-info{
    justify-content: end;
  }

  #addons-form .check-title, .summary{ font-size: 1rem;}

  .checkbox-desc, .check-price{font-size: .9rem;}

  .summary-total{
    font-size: 1.2rem;
  }

  .summary-plan-price, .order-plan-name{
    font-weight: 600;
  }

  .end-section{
    justify-content: center;
    padding: 0;
  }

  .end-section img{
    width: 80px;
  }

  .end-section h1{
    font-size: 2rem;
  }
  
  .end-text{
    font-size: 1.05rem;
  }
}

@media screen and (min-width: 1100px){
  #App{
    padding-right: 100px;
    
  }
  header{
    width: 100%;
    max-height: 600px;
  }

}